/*!
 * forbetterweb.com - Classic Cover – One Page Websites (html, bootstrap)
 */

textarea {
  color: black;
}

/* Popup Form 
   Source can be found at https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_popup_form
   Implemented on data-stroy page to archive data
*/
/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  /*background-color: #555;*/
  /*color: white-space: ite;*/
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  /*position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;*/
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  /*position: fixed;*/
  /*bottom: 0;*/
  /*right: 15px;*/
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 20px;
  /*background-color: white;*/
}

.popup-btn {
  margin-top: 20px;
}



/* Links */
a,
a:focus,
a:hover {
  color: #fff;
  transition: 0.2s;
  -moz-transition: 0.2s;s
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
}

a:focus,
a:hover {
  opacity: .7;
  text-decoration: none;
}

.btn {
  padding: auto; /*14px 24px;*/
  font-weight: 900;
  letter-spacing: 1px;
  /*text-transform: uppercase;*/
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #fff;
  text-shadow: none;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 2px;
}

.btn-lg {
  font-size: 36px;
}

/* Images */
.feature {
  height: 25vh;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #000;
}

body {
  font-family: Roboto, sans-serif;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  background-image: url('{{ bgimg }}');
  background-size: 100vw;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
  position:relative;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

/*
 * Header
 */

.masthead-nav > li,
.masthead-brand > li {
  display: inline-block;
}
.masthead-nav > li + li,
.masthead-brand > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a,
.masthead-brand > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}

.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus,
.masthead-brand > li > a:hover,
.masthead-brand > li > a:focus {
  background-color: transparent;
  color:#fff;
}

.masthead a {
  text-decoration: none;
}


.masthead-mobile > li > a {
  font-size: 8x;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}

/* VIDEO BACKGROUND */

.video-background {
  z-index:550;
  text-align:center;
  height:100%;
  min-height:100%;
  position:relative;
  overflow:hidden
}

.video-background .video-background-container {
  width:830px;
  max-width:100%;
  display:inline-block;
  position:absolute;
  top:50%;
  left:50%;
  -webkit-transform:translate(-50%,-50%);
  -moz-transform:translate(-50%,-50%);
  -ms-transform:translate(-50%,-50%);
  -o-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%)
}

.video-background-title {
  font-size:78px;
  color:#fff;
  font-weight:300;
  text-transform:uppercase;
  text-align:center;
  margin-bottom:22px;
  padding-top:20px;
  display:inline-block;
  background-attachment:scroll;
  background-repeat:repeat-x;
  background-position:top center
}

.video-background-default-image {
  background:url(img/cover.jpg);
  background-repeat:no-repeat;
  background-position:center center;
  background-size:cover;
  width:100%;
  height:100%;
  z-index:0;
  backface-visibility:hidden
}

.overlay {
  background: rgba(0, 0, 0, 0.6);
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
}

/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 15px 50px;
  font-weight: bold;
}

.cover-heading {
  font-family: "Great Vibes", serif;
  font-size: 60px;
  transform: rotate(-6deg);
  -ms-transform: rotate(-6deg);
  -moz-transform: rotate(-6deg);
  -webkit-transform: rotate(-6deg);
  -o-transform: rotate(-6deg);
}

small {
    color:#ccc!important;
}

/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}

@media (min-width: 768px) {
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  .site-wrapper-inner {
    vertical-align: middle;
  }
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%;
  }

  .cover-heading {
    font-size: 100px;
  }
}

@media (min-width: 992px) {
  .mastfoot,
  .cover-container {
    max-width: 800px;
  }
  .masthead {
    max-width: 100%;
     }
}


 /* Layouts */


table.center {
  margin-left: auto; 
  margin-right: auto;
  text-align: left;
  border-spacing: 10px;
  background: rgba(0, 0, 0, 0.75);
  padding: 10px;
  /* opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}

td {
  padding: 10px;
}

.main-panel {
  float: left;
  width: 75vw;
  text-align: left;
}

.sensor-panel {
  float: right;
  width: 25vw;
}

.dropdown { 
    background-color: black; 
    color: #fff;
}

/* HTML Forms */
input[type=text], input[type=password], input[type=submit], select {
    width: 50%;
    /*padding: 12px 20px;*/
    margin: 2px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #000;
    box-sizing: border-box;
}

.datepicker {
  background: #fff; 
  cursor: pointer; 
  padding: 5px 10px; 
  border: 1px solid #ccc; 
  width: 100%;
  color: #000;
}

.register-form {
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  background: rgba(0, 0, 0, 0.5);
  /*opacity: 0.5;*/
}
