{% extends "base.html" %}

{% block content %}
		 <h1>Mobile Program Locations</h1>
            
                <p class="lead">As of Fall 2017 WMSI Mobile has reached 14 school systems across northern New Hampshire. We are excited to begin building our program-specific pages!</p>
                <p><table class="lead table table-responsive">
                  <tr>
                    <td><a href="https://gorham.wmsinh.org">Gorham</a></td>
                    <td><a href="https://milan.wmsinh.org">Milan</td>
                    <td><a href="https://berlin.wmsinh.org">Berlin</td>
                  </tr>
                  <tr>
                    <td><a href="https://haverhill.wmsinh.org">Haverhill</td>
                    <td><a href="https://whitefield.wmsinh.org">Whitefield</td>
                    <td><a href="https://lancaster.wmsinh.org">Lancaster</td>
                  </tr>
                  <tr>
                    <td><a href="https://canaan.wmsinh.org">Canaan</td>
                    <td><a href="https://colebrook.wmsinh.org">Colebrook</td>
                    <td><a href="https://groveton.wmsinh.org">Groveton</td>
                  </tr>
                  <tr>
                    <td><a href="https://pittsburgh.wmsinh.org">Pittsburgh</td>
                    <td><a href="https://stark.wmsinh.org">Stark</td>
                    <td><a href="https://stewartstown.wmsinh.org">Stewartstown</td>
                  </tr>
                  <tr>
                    <td><a href="https://strafford.wmsinh.org">Strafford</td>
                    <td><a href="https://whitefield.wmsinh.org">Whitefield</td>
                    <!-- <td class="tg-yw4l"></td> -->
                  </tr>
                </table></p>
{% endblock %}

