{% extends "base.html" %}

{% block app_content %}
    <br><br><br><br>
    <h1>Data Story Rendering</h1>

    {# raw #}
    {# endraw #}
    <!-- 
        This form handles selecting data from the database to view and render.
        Currently the available options are Project ID, Data Type, and Date Range.
        Eventually it would be helpful to add a Sensor ID field that allows users
        to select as many sensors as desired for the given data type.
    -->

    <br><br>

    <form>
    <div class="row">
        <div class="col main-panel">
            <div class="row">
                <div class="col-md-4">
                    <!-- <label>Select your Project ID</label> -->
                    <select class="form-control form-control-lg" id="project_name" onchange="getProject()"><!--renderTable(true)" -->
                        <option value="">Select Project</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <!-- <label>Select your Data Type</label> -->
                    <select class="form-control form-control-lg" id="data_type" onchange="renderTable()">
                        <option value="">Select Data Type</option>
                    </select>
                </div>
               <!--  <div class="col-md-4">
                    <label>Select your Sensor ID</label>
                    <select class="form-control form-control-lg" id="data_type" onchange="renderTable()">
                        <option value="">Select Sensor ID</option>
                    </select>
                </div> -->
                <div class="col-md-4 form-group">
                    <!-- <label>Choose a Date Range</label><br> -->
                    <div id="datepicker" class="pull-right datepicker form-control form-control-lg">
                        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                        <span></span> <b class="caret"></b>
                    </div>
                    <span onClick="setTimes()">
                        Start: <input type="time" class="time-range" id="start-time" onfocusout="setTimes()" /><br />
                        End: <input id="end-time" type="time" class="time-range" onfocusout="setTimes()" />
                    </span>
                </div>
            </div>
        </div>
        <!-- <div class="col sensor-panel">
            <label>Select Sensors</label>
            <div class="col-md-6 form-check form-control form-control-lg">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Sensor 1
                </label>
            </div>
        </div> -->
    </div>
    </form>


    <!-- This div contains options to edit data in the table and show or hide the chart -->
    <div class="row">
        <div class="col-md-3">
            Chart width: <input type="text" id="chart-width" onChange="resizeChart()" value="60" maxLength="4" /> %
            <button type="button" class="form-control btn" id="show-chart" onClick="showChart()">Show Chart</button>
            <button type="button" class='form-control btn' onclick='refreshData()'>Refresh Data</button>
            <!-- <br />Chart height: <input type="text" id="chart-height" onChange="resizeChart()" value="40" maxLength="4"/>% -->
        </div>
        <!-- <div class="col-md-2">
            <div class="auto_refresh">
                Get Live Updates: <input type="checkbox" id="auto_refresh">
            </div>
        </div> -->
        <div class="col-md-3">
            <div class="text-left">
                <button class="form-control btn" onclick="openForm('metadataForm')">Edit Metadata</button>
                <div class="form-popup" id="metadataForm">
                    <!-- <h1>Select Project</h1> -->

                    <!-- <label for="metadataForm_project_id"><b>Project Id</b></label> -->
                    <select class="form-control form-control-lg popup-btn" id="metadataForm_project_name" onchange="getMetaData()"> 
                        <option value="">Select Project Name</option>
                    </select>
                    <p>
                        <!-- <input type="text" class="form-control popup-btn" id="project_name" placeholder="Project Name" maxlength="64" /> -->
                        <textarea class="form-control popup-btn" id="edit_project_name" rows="1" columns="50" maxlength="64" placeholder="Project Name"></textarea>
                    </p>
                    <p>
                        <textarea class="form-control popup-btn" id="project_description" rows="5" columns="50" maxlength="500" placeholder="Project Description"></textarea>
                    </p>
                    <p>
                        <textarea class="form-control popup-btn" id="project_miscellaneous" rows="3" columns="50" maxlength="160" placeholder="Miscellaneous Information"></textarea>
                    </p>
                    <button type="button" class="form-control popup-btn btn" onclick="editMetadata()">Save Changes</button>
                    <button type="button" class="form-control popup-btn btn" onclick="closeForm('metadataForm')">Close</button>
                </div>
            </div>
            <div class="text-left">
                <button class="form-control btn" onclick="openForm('cropForm')">Crop Current View</button>
                <div class="form-popup" id="cropForm">
                    <!-- <h1>Select Project</h1> -->

                    <span id="cropForm_project_name" style="padding: 10px">Crop Project: </span>
                    <p>
                        <!-- <input type="text" class="form-control popup-btn" id="project_name" placeholder="Project Name" maxlength="64" /> -->
                        <textarea class="form-control popup-btn" id="crop_project_name" rows="1" columns="50" maxlength="64" placeholder="New Project Name"></textarea>
                    </p>
                    <p>
                        <textarea class="form-control popup-btn" id="crop_project_description" rows="5" columns="50" maxlength="500" placeholder="Project Description"></textarea>
                    </p>
                    <p>
                        <textarea class="form-control popup-btn" id="crop_project_miscellaneous" rows="3" columns="50" maxlength="160" placeholder="Miscellaneous Information"></textarea>
                    </p>
                    <button type="button" class="form-control popup-btn btn" onclick="cropProject()">Create Project</button>
                    <button type="button" class="form-control popup-btn btn" onclick="closeForm('cropForm')">Close</button>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="text-left">
                <button class="form-control btn" onclick="openForm('archiveForm')">Archive a Project</button>
                <div class="form-popup" id="archiveForm">
                    <!-- <form action="/action_page.php" class="form-container"> -->
                    <!-- <h1>Select Data</h1> -->

                    <!-- <label for="archiveForm_project_name"><b>Project Name</b></label> -->
                    <select class="form-control form-control-lg popup-btn" id="archiveForm_project_name"> <!-- onchange="renderDataTypes('archive_')" -->
                        <option value="">Select Project Name</option>
                    </select>

                    <!-- <label for="archive_data_type"><b>Data Type</b></label>
                    <select class="form-control form-control-lg" id="archive_data_type">
                        <option value="">All Data Types</option>
                    </select> -->

                    <button type="button" class="form-control popup-btn btn" onclick="archiveData()">Archive Project</button>
                    <button type="button" class="form-control popup-btn btn" onclick="closeForm('archiveForm')">Close</button>
                    <!-- </form> -->
                </div>
                <!-- <button id="submit" class="form-control btn">Archive Data</button> -->
            </div>
        </div>
        <div class="col-md-3 align-middle">
            
            <!-- Export CSV of data table -->
            <!-- Select file to import: <input type="file" id="file-select" multiple> -->
            <span><a href="{{ url_for('load_csv') }}">Click here to upload a .csv</a></span>
            <!-- <div class="col-md-3"> -->
                <!-- <div class="text-left"> -->
                    <button type="button" id="csv-action" class="form-control btn">Export .csv File</button>
                <!-- </div> -->
            <!-- </div> -->
            <!-- Show Chart: <input type="checkbox" id="show-chart" onchange="showChart()"> -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" id="load-div" style="display: none">
            <div id="loader"></div>
        </div>
    </div>
    <!--
        This div contains the Chart object.
        Charts are rendered using the chart.js library from https://www.chartjs.org/
    -->
    <div class="row">
        <div id="chart-container" style="display: none"><!-- class="col-md-8" -->
            <canvas id="chartCanvas"></canvas> <!--  style="display: none" --> 
        </div>
    </div>
    <br>

    <!-- 
        This table contains all of the data selected from the database.
        As users change their options in the form above the data table will
        update to reflect the new options.
    -->
    <span id="num-items"></span>
    <table class="table center" border="2" id="data-table"><!-- class="lead table table-responsive" -->
        <thead>
            <tr><b>
                <th>Project ID</th>
                <th>Timestamp</th>
                <th>Value</th>
                <th>Data Type</th>
            </tr></b>
        </thead>
        <tbody id='table-content'>
            <!-- no more templating of data here- all handled by JS -->
        </tbody>
    </table>
    <br>
    {% if current_user.wmsi_user %}
    <p class="lead"><a href="#" class="btn btn-default">Edit Data Stories</a></p>
    {% endif %}
{% endblock %}

{% block scripts %}
{{ super() }}
    <!-- script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='js/papaparse.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/render_chart.js') }}"></script>
    <script src="{{ url_for('static', filename='js/data_story.js') }}"></script>
    <script type="text/javascript">
        const GET_DATA_URL = "{{ url_for('data_story') }}";
        {% for project in project_names %}
            project_names.push({ "id": {{ project.id }},
                "name": "{{ project.name }}" 
            });
        {% endfor %}

        window.onload = renderSelects('', false);
        // project_names = {{ project_names }};
    </script>
{% endblock %}
