{% extends "base.html" %}

{% block content %}
    <h1>Raw Data</h1>

    {# raw #}
    {# endraw #}
    <form>
    <div class="row">
        <div class="col main-panel">
            <div class="row">
                <div class="col-md-4">
                    <label>Select your Project ID</label>
                    <select class="form-control form-control-lg" id="project_id" onchange="filterData()">
                        <option value="">Select Project ID</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label>Select your Project ID</label>
                    <select class="form-control form-control-lg" id="data_type" onchange="filterData()">
                        <option value="">Select Data Type</option>
                    </select>
                </div>
                <div class="col-md-4 form-group">
                    <label>Choose a Date Range</label><br>
                    <div id="datepicker" class="pull-right datepicker form-control form-control-lg">
                        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                        <span></span> <b class="caret"></b>
                    </div>

                    <!-- <input class="form-control corm-control-lg" type="text" value="01/01/2018 - 03/31/2018" /> -->
                </div>
            </div>
        </div>
        <!-- <div class="col sensor-panel">
            <label>Select Sensors</label>
            <div class="col-md-6 form-check form-control form-control-lg">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Sensor 1
                </label>
            </div>
        </div> -->
    </div>
    </form>
   
    <table class="table center" border="2" id="data-table"><!-- class="lead table table-responsive" -->
        <thead>
            <tr><b>
                <th>Project ID</th>
                <th>Timestamp</th>
                <th>Value</th>
                <th>Data Type</th>
            </tr></b>
        </thead>
        <tbody id='table-content'>
            {% block topic %}
                
                {% for data in datastory %}
                <tr>
                    <td>{{ data.project_id }}</td>
                    <td>{{ data.timestamp|datetime }}</td> <!-- format timestamp -->
                    <td>{{ data.value }}</td>
                    <td>{{ data.data_type }}</td>
                </tr>
                {% endfor %}
            {% endblock %}
        </tbody>
    </table>
    <br>
    {% if current_user.wmsi_user %}
    <p class="lead"><a href="#" class="btn btn-default">Edit Data Stories</a></p>
    {% endif %}
{% endblock %}

{% block script %}
    <!-- script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script -->
    <script>
        var raw_data = [];

        {% for data in datastory %}
            raw_data.push({
                "project_id":"{{ data.project_id }}", 
                // "timestamp": "{{ data.timestamp|datetime }}",
                "timestamp": moment("{{ data.timestamp|datetime }}", "ddd DD-MM-YYYY HH:mm:ss"),
                "value":"{{ data.value }}",
                "data_type":"{{ data.data_type }}"
            });
        {% endfor %}
        // render_data = raw_data;
        var start_date = getFirstDate(); // = new Date();
        var end_date = moment(); // = new Date();

        function renderSelects() {
            var id_options = $.unique(raw_data.map(function (d) {return d.project_id}));
            $('#project_id').append(
                $.map(id_options, function(item, index) {
                    return '<option value="' + item + '">' + item + '</option>';
                }).join());

            var type_options = $.unique(raw_data.map(function (d) {return d.data_type}));
            $('#data_type').append(
                $.map(type_options, function(item, index) {
                    return '<option value="' + item + '">' + item + '</option>';
                }).join());        
        }

        function getFirstDate() {
            var start_date = moment(raw_data[0].timestamp);
            for(i=1; i<raw_data.length; i++) {
                if(moment(raw_data[i].timestamp).isBefore(start_date)) {
                    start_date = moment(raw_data[i].timestamp);
                }
            }
            return start_date;
        }
        

        function filterData() {
            var render_data = raw_data;

            var filter_id = document.getElementById("project_id").value;
            if (filter_id != "Select Project ID" && filter_id != "") {
                render_data = render_data.filter(function (el) { // var filter_by_id = 
                        return el.project_id == filter_id;
                    });
            }

            var filter_type = document.getElementById("data_type").value;
            if (filter_type != "Select Data Type" && filter_type != "") {
                render_data = render_data.filter(function (el) { // var filter_by_id = 
                        return el.data_type == filter_type;
                    });
            }

            if(start_date && end_date) {
                render_data = filterDate(render_data);
            }

            renderTable(render_data);
        }

        // function filterID(selectObject) {
        //     var filter_id = selectObject.value;
        //     render_data = render_data.filter(function (el) { // var filter_by_id = 
        //             return el.project_id == filter_id;
        //         });
        //     renderTable();
        // }

        // function filterDate(start, end) {
        //     render_data = render_data.filter(function (el) {
        //         timestamp = new Date(el.timestamp);
        //         console.log("check if " + String(timestamp) + " is between " + String(start_date) + " and " + String(end_date));
        //         return (timestamp >= start && timestamp <= end);
        //     });
        //     renderTable();
        // }

        function filterDate(render_data) {
            render_data = render_data.filter(function (el) {
                // timestamp = new Date(el.timestamp);
                timestamp = moment(el.timestamp);
                // console.log("check if " + timestamp.format() + " is between " + start_date.format() + " and " + end_date.format());
                return (timestamp.isAfter(start_date) && timestamp.isBefore(end_date));
                // return (timestamp >= start_date && timestamp <= end_date);
            });
            return render_data;
            // renderTable();
        }

        function renderTable(render_data) {
            $('#table-content').html(
                $.map(render_data, function(item, index) {
                    return '<tr><td>' + item.project_id + '</td><td>' + item.timestamp.format('MMMM Do YYYY, h:mm:ss a') + '</td><td>' + item.value + '</td><td>' + item.data_type + '</td>';
                }).join());
        }

        /* date range picker config */
        /* from www.daterangepicker.com */
        $(function() {
            var start = start_date; //moment().subtract(29, 'days');
            var end = end_date; //moment();

            function cb(start, end) {
                $('#datepicker span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                // console.log("A new date range was chosen: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
                // filterDate(start, end);
                start_date = start;
                end_date = end;
                filterData();
            }

            $('#datepicker').daterangepicker({
                startDate: start,
                endDate: end,
                ranges: {
                   'Today': [moment(), moment()],
                   'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                   'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                   'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                   'This Month': [moment().startOf('month'), moment().endOf('month')],
                   'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                }
            }, cb);

            cb(start, end);
        });

    // render dropdowns when the page loads
    window.onload = renderSelects();
    </script>
{% endblock %}