{% extends "base.html" %}

{% block app_content %}
    <br><br><br><br>
    <h1>Raw Data</h1>

    {# raw #}
    {# endraw #}
    <!-- 
        This form handles selecting data from the database to view and render.
        Currently the available options are Project ID, Data Type, and Date Range.
        Eventually it would be helpful to add a Sensor ID field that allows users
        to select as many sensors as desired for the given data type.
    -->


    <div class="row">
        <div class="col main-panel">
            <div class="row">
                <div class="col-md-3">
                    Choose one or more delimited text files to parse:
                </div>
                <div class="col-md-3">
                    <input type="file" id="file-select" class="form-control form-control-lg" multiple>
                </div>
                <div class="col-md-3">
                    <button id="submit" class="form-control form-control-lg">Parse Into Table</button>   
                </div>
                <div class="col-md-3">
                    <!-- Upload data to server -->
                    <!-- <input type="file" id="file-select" multiple> -->
                    <button id="upload" class="form-control form-control-lg">Upload Data to Server</button>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    Parse EV3 Data <input type="checkbox" id="ev3_data">
                </div>
                <div class="col-md-3">
                    Ignore Columns with NaN <input type="checkbox" id="no_nan">
                </div>
                <div class="col-md-3">
                    Start Timestamps at t = 0s <input type="checkbox" id="exp_time">
                </div>
            </div>
            <br><br>
            <div class="row">
                <form>
                    <div class="col-md-4">
                        <label>Select your Project ID</label>
                        <select class="form-control form-control-lg" id="project_id" onchange="renderTable(true)">
                            <option value="">Select Project ID</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label>Select your Data Type</label>
                        <select class="form-control form-control-lg" id="data_type" onchange="renderTable()">
                            <option value="">Select Data Type</option>
                        </select>
                    </div>
                    <div class="col-md-4 form-group">
                        <label>Choose a Date Range</label><br>
                        <div id="datepicker" class="pull-right datepicker form-control form-control-lg">
                            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                            <span></span> <b class="caret"></b>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <br><br>

    <!-- 
        This table contains all of the data selected from the database.
        As users change their options in the form above the data table will
        update to reflect the new options.
    -->
    <table class="table center" border="2" id="data-table"><!-- class="lead table table-responsive" -->
        <thead>
            <tr><b>
                <th>Project ID</th>
                <th id="time">Timestamp</th>
                <th>Value</th>
                <th>Data Type</th>
            </tr></b>
        </thead>
        <tbody id='table-content'>

        </tbody>
    </table>
    <br>
    {% if current_user.wmsi_user %}
    <p class="lead"><a href="#" class="btn btn-default">Edit Data Stories</a></p>
    {% endif %}
{% endblock %}

{% block scripts %}
{{ super() }}
    <!-- script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='js/papaparse.min.js') }}"></script>

    <script>
        /*
            When the page loads for the first time populate the raw_data variable using the Jinja2 
            template for loop. Also find the first and last timestamps in the table and store 
            them in start_date and end_date. These variables will continue to be updated as new 
            data is fetched from the server.
        */
        var raw_data = [];

        // render_data = raw_data;
        var start_date; // = getFirstDate(raw_data); // = new Date();
        var end_date; // = getLastDate(raw_data); // = raw_data Date();


        /*
            This function gets called with window.onload and populates the dropdowns
            with options. Consider calling this whenever new data is added to the database.
        */
        function renderSelects() {
            // var id_options = $.unique(raw_data.map(function (d) {return d.project_id}));
            var id_options = [];
            $.each(raw_data, function(i, el) {
                if($.inArray(el.project_id, id_options) === -1) id_options.push(el.project_id);
            });
            $('#project_id').append(
                $.map(id_options, function(item, index) {
                    return '<option value="' + item + '">' + item + '</option>';
                }).join());

            // id_options = $.unique(raw_data.map(function (d) {return d.sensor_id}));
            // $('#project_id').append(
            //     $.map(id_options, function(item, index) {
            //         return '<option value="' + item + '">' + item + '</option>';

            var type_options = $.unique(raw_data.map(function (d) {return d.data_type}));
            $('#data_type').append(
                $.map(type_options, function(item, index) {
                    return '<option value="' + item + '">' + item + '</option>';
                }).join());      
        }


        /*
            Fill the HTML table with the data set as determined by filterData

            Add a feature for users to choose timestamp format
        */
        function renderTable(set_dates=false) {
            var timestamp;

            render_data = filterData(set_dates);

            $('#table-content').html(
                $.map(render_data, function(item, index) {
                    if($('#exp_time').prop('checked')) {
                        time = item.timestamp.format('x')/1000;
                    } else {
                        time = item.timestamp.format('MMMM Do YYYY, h:mm:ss a');
                    }
                    return '<tr><td>' + item.project_id + '</td><td>' + time + '</td><td>' + item.value + '</td><td>' + item.data_type + '</td></tr>';
                }).join());

            // var sensor_options = $.unique(render_data.map(function (d) {return d.sensor_id}));
            // $('#sensor_id').append(
            //     $.map(type_options, function(item, index) {
            //         return '<input type="checkbox" value="Sensor ' + item + '"><label>Sensor ' + item + '</label><br>';
            //     }).join()); 
            console.log("done rendering table");
        }

        /*
            Start with the set of all data and only keep data points that match the 
            options selected with the dropdowns. When the argument set_dates is passed
            as true this function calls autoSetDates to find the first and last date 
            in the new data set (stored in render_data). If the start and end dates 
            have already been set    
        */
        function filterData(set_dates=false) {
            var render_data = raw_data;

            // filter by project ID
            var filter_id = document.getElementById("project_id").value;
            if (filter_id != "Select Project ID" && filter_id != "") {
                render_data = render_data.filter(function (el) {
                        return el.project_id == filter_id;
                    });
            }

            // filter by data type
            var filter_type = document.getElementById("data_type").value;
            if (filter_type != "Select Data Type" && filter_type != "") {
                render_data = render_data.filter(function (el) { // var filter_by_id = 
                        return el.data_type == filter_type;
                    });
            }

            if(set_dates) {
                autoSetDates(render_data);
            }

            // filter by date
            if(!$('#exp_time').prop('checked') && start_date && end_date) {
                render_data = render_data.filter(function (el) {  //filterDate(render_data);
                    timestamp = moment(el.timestamp);
                    return (timestamp.isAfter(start_date-1) && timestamp.isBefore(end_date+1));
                });
            }

            return render_data;
        }


        /* 
            Find the earliest timestamp in a data set.
        */
        function getFirstDate(data_array) {
            var first_date = moment(data_array[0].timestamp);
            for(i=1; i<data_array.length; i++) {
                if(moment(data_array[i].timestamp).isBefore(first_date)) {
                    first_date = moment(data_array[i].timestamp);
                }
            }
            return first_date;
        }


        /* 
            Find the last timestamp in a data set.
        */
        function getLastDate(data_array) {
            var last_date = moment(data_array[0].timestamp);
            for(i=1; i<data_array.length; i++) {
                if(moment(data_array[i].timestamp).isAfter(last_date)) {
                    last_date = moment(data_array[i].timestamp);
                }
            }
            return last_date;
        }

        /*
            Set the start_date and end_date variables with the first and last dates
            in the data set. Usually this gets called after the data has already been
            filtered based on the dropdown options
        */
        function autoSetDates(render_data) {
            start_date = getFirstDate(render_data);
            end_date = getLastDate(render_data);
            $('#datepicker span').html(start_date.format('MMMM D, YYYY') + ' - ' + end_date.format('MMMM D, YYYY'));
        }

        /* 
            Configure the datarangepicker object using start_date and end_date
            This variables can be set manually or by calling autoSetDates()
            date range picker config from www.daterangepicker.com 
        */
        $(function() {
            var start = moment().subtract(29, 'days'); //start_date; 
            var end = moment(); // end_date;

            function cb(start, end) {
                $('#datepicker span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                // console.log("A new date range was chosen: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
                // filterDate(start, end);
                start_date = start;
                end_date = end;
                renderTable();
            }

            $('#datepicker').daterangepicker({
                startDate: start,
                endDate: end,
                ranges: {
                   'Today': [moment(), moment()],
                   'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                   'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                   'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                   'This Month': [moment().startOf('month'), moment().endOf('month')],
                   'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                }
            }, cb);

            cb(start, end);
        });

    $('#exp_time').click(function() {
        if($('#exp_time').prop('checked')) {
            $('#time').html("Time (s)");
        } else {
            $('#time').html("Timestamp");
        }
    });

    /* Parse .csv files using PapaParse
        Import a local file, check its contents, and add them to raw_data
        Full doc at: https://www.papaparse.com/docs
    */
    $('#submit').click(function() {
        var config = buildConfig();
        if (!$('#file-select')[0].files.length)
        {
            alert("Please choose at least one file to parse.");
            return;
        }
 
        $('#file-select').parse({
            config: config,
            //     // base config to use for each file
            // },
            before: function(file, inputElem)
            {
                // executed before parsing each file begins;
                // what you return here controls the flow
            },
            error: function(err, file, inputElem, reason)
            {
                // alert('error parsing file');
                // executed if an error occurs while loading the file,
                // or if before callback aborted for some reason
            },
            complete: function()
            {
                // alert('parsing file complete!');
                // executed after all files are complete
            }
        });
        // var results = Papa.parse()
    });

    $('#upload').click(function() {
        $.map(raw_data, function(item, index) {
            item.timestamp = item.timestamp.format();
        });
        $.ajax("{{ url_for('load_csv') }}", {
            dataType: 'text',
            data: JSON.stringify(raw_data),
            contentType: 'application/json',
            type: 'POST',
            processData: false,
            success: function( data, textStatus, jQxhr ){
                alert(data);
            },
            error: function( jqXhr, textStatus, errorThrown ){
                console.log( errorThrown );
            }
        });
        $.map(raw_data, function(item, index) {
            item.timestamp = moment(item.timestamp);
        });
    });

function buildConfig()
{
    return {
        // delimiter: $('#delimiter').val(),
        header: true,
        // dynamicTyping: $('#dynamicTyping').prop('checked'),
        skipEmptyLines: true,
        // preview: parseInt($('#preview').val() || 0),
        // step: $('#stream').prop('checked') ? stepFn : undefined,
        // encoding: $('#encoding').val(),
        // worker: $('#worker').prop('checked'),
        // comments: $('#comments').val(),
        complete: completeFn,
        // error: errorFn,
        download: true
    };
}

function completeFn(results)
{
    // var end = now();
    if($('#no_nan').prop('checked')) {
        deleteNan(results);
    }

    if($('#ev3_data').prop('checked')) {
        parseEv3(results);
    }

    if (results && results.errors)
    {
        if (results.errors)
        {
            errorCount = results.errors.length;
            firstError = results.errors[0];
        }
        if (results.data && results.data.length > 0)
            rowCount = results.data.length;
    }

    // $(results.data).filter(function(x) {return x != "";});

    console.log("Parse complete");
    console.log("    Results:", results);

    // add error handling!
    // raw_data = results.data;
    var format = '';
    if($('#exp_time').prop('checked')) {
        format = 'X';
    }
    $.map(results.data, function(item, index) {
        item.project_id = parseInt(item.project_id);
        item.sensor_id = parseInt(item.sensor_id);
        item.timestamp = moment(item.timestamp, format);
        item.value = parseFloat(item.value);
        raw_data.push(item);
    });

    var set_dates = !$('#exp_time').prop('checked');
    renderTable(set_dates);
}

function deleteNan(results) {
    var nan_keys = [];
    $.map(results.data, function(item, index) {
        for(key in item) {
            if(item[key] == "NaN") {
                delete item[key]; 
                if(!nan_keys.includes(key)){
                    nan_keys.push(key);
                }
            }
            if(key == "_parsed_extra") {
                delete item[key];
            }
        }
    });
    nan_keys.forEach(function(value) {
        var i =results.meta.fields.indexOf(value); 
        results.meta.fields.splice(i,1);
    });
}

function parseEv3(results) {
    var data_type;
    var project_id = prompt("Please choose a Project ID for this data set","0");
    var sensor_id = prompt("Please choose a Sensor ID for this data set","1");

    if(results.meta.fields.length > 2){
        alert('We are sorry but for now we can only parse data sets with one data type. Please resubmit the file with only one column of sensor values.');
    } else {
        data_type = results.meta.fields[1];
    }

    $.map(results.data, function(item, index) {
        // for(key in item) {
        //     if(key == "Time") {
        //         item.timestamp = item[key];
        //         delete item[key];
        //     }
        // }
        item.timestamp = item["Time"];
        item.value = item[data_type];
        item.data_type = data_type;
        item.project_id = project_id;
        item.sensor_id = sensor_id;

        delete item["Time"];
        delete item[data_type];
    });
}

// function errorFn(results) {
//     console.log(errors);
// }

// Document-wide error handling
window.addEventListener('error', function (e) {
  var error = e.error;
  console.log(error);
});

// socketio uses websocket, which is not supported by apache
// if we reach the point of requiring immediate server updates
// we could look into implementing this

        // var socket = io.connect('https://' + document.domain + ':' + location.port);
        // console.log('socket at https://' + document.domain + ':' + location.port);
        // socket.on('connect', function() {
        //     socket.emit('my event', {data: 'I\'m connected!'});
        //     console.log('socket connected');
        // });
        // socket.on('test response', function() {
        //     console.log('test response');
        // });
        // socket.on('new value', function(data) {
        //     var new_val = JSON.parse(data);
        //     raw_data.push({
        //         "project_id": new_val.project_id,
        //         "sensor_id": new_val.sensor_id,
        //         "timestamp": moment(new_val.timestamp, "ddd DD-MM-YYYY HH:mm:ss"),
        //         "value": new_val.value,
        //         "data_type": new_val.data_type
        //     });
        //     console.log('new val: ', raw_data[raw_data.length-1]);
        //     renderTable(true);
        //     if(document.getElementById("auto_refresh").checked) {
        //         renderChart();
        //     }
        // });
    </script>
{% endblock %}
