{% extends "base.html" %}

{% block app_content %}
		 <h1>WMSI Mobile STEM Lab</h1>
                <p class="lead"> Through WMSI Mobile STEM Lab, young inventors and scientists get a chance to play with Creative Problem Solving through a series of fun and engaging activities.</p>
                <p class="lead">Click on any of our Mobile Locations in the Nav Bar above for exciting project updates and pictures from our programs!</p>
		<p class="lead"><img src="{{ url_for('static',filename='img/van.jpeg') }}" class="feature"></p>
                <p>The Mobile STEM Lab has been made possible by the generous support of the Neil and Louise Tillotson Fund, the Jane B. Cook 1983 Charitable Trust, Mascoma Bank, Berlin City Auto Group, and individual donors.</p>
{% endblock %}

