{% extends "base.html" %}

{% block app_content %}
    <h1>Register</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="row justify-content-center">
            <div class="col-md-4">
                {{ form.username.label }}
            </div>
            <div class="col-md-8">
                {{ form.username(size=64) }}
            </div>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4">
                {{ form.email.label }}
            </div>
            <div class="col-md-8">
                {{ form.email(size=64) }}
            </div>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4">
                {{ form.password.label }}
            </div>
            <div class="col-md-8">
                {{ form.password(size=64) }}
            </div>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4">
                {{ form.password2.label }}
            </div>
            <div class="col-md-8">
                {{ form.password2(size=64) }}
            </div>
            {% for error in form.password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <p>{{ form.submit() }}</p>
        <p>New User? <a href="{{ url_for('register') }}">Click to Register!</a></p>
    </form>
{% endblock %}
